@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    /* background: #0d0d0d; */
    color: aliceblue;
    font-family: 'Poppins', sans-serif;
}
/* ===========Universal Classess======== */
.justified-start{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.justified-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.items{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    background: #373737;
    padding: 10px;
}

/* ========Styling Classes======= */
.intro{
    background: #373737;
    font-size: 1.3rem;
    text-align: center;
    padding: 20px 0;
}
.singleItem{
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
    background: #424242;
    border-radius: 15px;
}
.singleItem > .justified-center > img{
    width: 100%;
    max-width: 120px;
    border-right: 1px solid whitesmoke;
}
.singleItem > .itemName{
    font-size: 1.2rem;
    font-weight: 400;
    border-right: 1px solid whitesmoke;
}
.singleItem > .itemPrice{
    font-size: 1.2rem;
    font-weight: 400;
}
.singleItem > .itemPrice:hover{
    color: orange;
    cursor: pointer;
}
